---
import "../../styles/global.css";
import Layout from '../../layouts/en.astro';
import Popular from "../../components/Popular.astro";
---

<Layout>
	<div class="p-8 space-y-12">
		<Popular title="Popular accommodations in Buenos Aires" lang="en"/>
		<Popular title="Available in Madrid next month" lang="en"/>
		<Popular title="Stay in Bariloche" lang="en"/>
	</div>
</Layout>
