---
import "../styles/global.css";

import Layout from '../layouts/Layout.astro';
import Popular from "../components/Popular.astro";
---

<Layout>
	<div class="p-8 space-y-12">
		<Popular title="Alojamientos populares en Buenos Aires"/>
		<Popular title="Disponibles en Madrid el mes que viene"/>
		<Popular title="Alojate en Bariloche"/>
	</div>
</Layout>
