---
import "../../styles/global.css";
import Layout from '../../layouts/es.astro';
import Popular from "../../components/Popular.astro";
---

<Layout>
	<div class="p-8 space-y-12">
		<Popular title="Alojamientos populares en Buenos Aires" lang="es"/>
		<Popular title="Disponibles en Madrid el mes que viene" lang="es"/>
		<Popular title="Alojate en Bariloche" lang="es"/>
	</div>
</Layout>
